.DS_Store
cache/
artifacts/
artifacts-zk/
cache-zk/
exports/
deploy/
deployments/localhost
docs/
utils/
coverage*
.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

node_modules/
.env

.yalc
yalc.lock
tasks
tests
types

contractsInfo.json
deployments/hardhat
deployments/localhost
